body {
    background-color: #333;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #EEE;
    margin: 10px;
}

h1 {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 15px;
}

p {
    margin-bottom: 10px;
}

code {
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

a:link,
a:visited,
a:active {
    color: #96CEFF;
    text-decoration: none;
}

a:hover {
    color: #88B9E3;
    text-decoration: underline;
}
